:root {
  --color-primary: #fd377e;
  --color-primary-2: #e34981;
  --color-secondary: #03b898;
  --color-option: #e7eb11;

  --color-gray-4: #212529;
  --color-gray-3: #868e96;
  --color-gray-2: #e9ecef;
  --color-gray-1: #f8f9fa;

  --font-primary: "Nunito", sans-serif;
}
